*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #24252A; */
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    background-color: #25262A;
}
.logo{
    width: 140px;
    height:60px;
}
.nav_link{
    list-style: none;
    margin-right: 250px;

}
.nav_link li{
    display: inline-block;
    
}
.nav_link li a{
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-decoration: none;
   
}
.nav_link li a:hover{
    border-bottom: 4px white solid;
    padding-bottom: 10px;
   
}
.con button{
    padding: 14px 50px;
    color: rgb(0, 0, 0);
    background: linear-gradient(150deg,#ffba25,#dcb61eca);
    font-size: 18px;
    border-radius: 10px;
    font-weight: 500;
}
.con button:hover{
    background: linear-gradient(150deg,#dcb61ed7,#ffba25);
}

#h-icon{
    color: #FFB925;
    font-size: 20px;
    padding: 15px 16px;
    background-color: #4d4e5374;
    border-radius: 10px;
    margin-left: 250px;
}
#h-icon:hover{
    background-color: #FFB925;
    color: #25262A;
}

/* section first */
span{
    color: #ffba25;
}
.section-first{
    display: flex;
    background-color: #25262A;
}
.hello{
    width: 50%;
    padding-top: 120px;
    padding-left: 70px;
}
.hello-p{
    color: #62eea7;
    margin-bottom: 16px;
}
.hello-h{
    color: #f8f8f8;
    font-size: 60px;
    margin-bottom: 16px;
}
.hello-p2{
    color: #f8f8f8;
    font-size: 20px;
    margin-bottom: 32px;
}

.hello-img{
    width: 50%;
    
}
.hello-img img{
    width: 100%;
    background-color: #25262A;
}

.hello-con{
    padding: 14px 50px;
    color: rgb(0, 0, 0);
    background: linear-gradient(150deg,#ffba25,#dcb61eca);
    font-size: 18px;
    border-radius: 10px;
    font-weight: 500;
    text-decoration: none;
}
.hello-con:hover{
    background: linear-gradient(150deg,#dcb61ed7,#ffba25);
}

/* secend section */
.part-4{
    display: flex;
    background-color: #2D2E32;
}
.part-2{
    width: 60%;
    margin: 60px;
}
.part-1{
    width: 40%;
    margin-top: 300px;
    /* margin-left: 50px; */
    margin-right: 50px;
}
.website-full{
    padding: 100px 20px ;
    background-color: #25262A;
    margin: 30px;
    border-radius: 20px;
    transition: 2s, transform 2s;
    transform: rotate(380deg);
    border-bottom: 2px solid #63F3AA;
    border-right: 2px solid #63F3AA;
}
.website-full:hover{
    background: linear-gradient(150deg,#63F3AA,#3C9272);
    box-shadow: #3C9272 10px 10px 40px;
    transform: rotatex(20deg);
    border-bottom: 5px solid #000000;
    border-right: 5px solid #000000;
}

.website-h{
    text-align: center;
    font-size: 28px;
    color: white;
}
.website-p{
   
    text-align: center;
    color: white;
}
.proj{
    font-size: 50px;
    color: white;
}
.proj-p{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 30px;
    color: white;
}
.add{
    margin-top: 10px;
}
.part-4icon{
    text-align: center;
    font-size: 40px;
    color: #62eea7;
    /* transform: translateX(100px); */
    margin-left: 100px;
    margin-bottom: 20px;
    border: #62eea7 2px solid;
    padding: 20px;
    border-radius: 35px;
}
.part-4icon:hover{
    background-color: #62eea7;
    color: white;

}
.branding-img{
    width: 90%;
    border-radius: 30px;
}

.branding{
    width: 50%;
    margin-top:100px;
    margin-left: 100px;
    margin-right: 100px;
}
.branding-h{
    color: white;
    font-size: 40px;
}
.brand-mr{
    padding-top: 130px;
    padding-bottom: 150px;
}